<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC'
      crossorigin='anonymous'
    />

  </head>
  <body>
    <div class='container-fluid'>
      <h1 class='text-center'>{{messId.messName}}</h1>
      <h5 class='text-center'>Manager Name:{{manager.name}}</h5>

      <h6 class='text-center'>Month Title:{{monthTitle}}</h6>
      <h6 class='text-center'>Rice Balance:{{riceBalance}}</h6>
      <h6 class='text-center'>MealRate:{{mealRate}}</h6>

      <table class='table table-bordered table-striped'>
        <thead>
          <tr>
            <th>Name</th>
            <th>meal</th>
            <th>fixedMeal</th>
            <th>mealCost</th>
            <th>OtherCost</th>
            <th>totalCost</th>
            <th>Deposit</th>
            <th>balance</th>
            <th>rice</th>
          </tr>
        </thead>
        <tbody>
          {{#each userMonthData as |member|}}
            <tr>
              <td>{{member.userId.name}}</td>
              <td>{{member.totalMeal}}</td>
              <td>{{member.fixedMeal}}</td>
              <td>{{member.mealCost}}</td>
              <td>{{member.otherCost}}</td>
              <td>{{member.totalCost}}</td>
              <td>{{member.totalDeposit}}</td>
              <td>{{member.balance}}</td>
              <td>{{member.riceBalance}}</td>
            </tr>
          {{/each}}
        </tbody>
        <thead>
          <tr>
            <th>Total Border = {{userMonthData.length}}</th>
            <th>{{totalMeal}}</th>
            <th>{{totalFixedMeal}}</th>
            <th>{{totalMealCost}}</th>
            <th>{{totalOtherCost}}</th>
            <th>{{totalCost}}</th>
            <th>{{totalDeposit}}</th>
            <th>{{balance}}</th>
            <th>{{riceBalance}}</th>

          </tr>
        </thead>
      </table>
      {{! rice table }}
      <h6 class='text-center'>Rice Table</h6>
      <table class='table table-bordered table-striped'>
        <thead>
          <tr>
            <th>Name</th>
            <th>quantity</th>
            <th>date</th>

          </tr>
        </thead>
        <tbody>

          {{#each rices as |rice|}}
            <tr>
              <td>{{rice.userName}}</td>
              <td>{{rice.amount}}</td>
              <td>{{dateFormat rice.date}}</td>
              {{!-- <td>{{cash.date.substring(0,15)}}</td> --}}

            </tr>
          {{/each}}
        </tbody>

      </table>
      {{! rice Table }}

      {{! extra rice table }}
      <h6 class='text-center'>Extra Rice Table</h6>
      <table class='table table-bordered table-striped'>
        <thead>
          <tr>
            <th>Name</th>
            <th>quantity</th>
            <th>date</th>

          </tr>
        </thead>
        <tbody>

          {{#each extraRices as |extraRice|}}
            <tr>
              <td>{{extraRice.userId.name}}</td>
              <td>{{extraRice.amount}}</td>
              <td>{{dateFormat extraRice.date}}</td>

            </tr>
          {{/each}}
        </tbody>

      </table>
      {{!extra rice Table }}
      {{! cash table }}
      <h6 class='text-center'>Cash Table</h6>
      <table class='table table-bordered table-striped'>
        <thead>
          <tr>
            <th>Name</th>
            <th>amount</th>
            <th>date</th>

          </tr>
        </thead>
        <tbody>

          {{#each cashes as |cash|}}
            <tr>
              <td>{{cash.userId.name}}</td>
              <td>{{cash.amount}}</td>
              <td>{{dateFormat cash.date}}</td>
              {{!-- <td>{{cash.date.substring(0,15)}}</td> --}}

            </tr>
          {{/each}}
        </tbody>

      </table>
      {{! cash table }}

      {{! Guest Meal table }}
      <h6 class='text-center'>Guest Meal Table</h6>
      <table class='table table-bordered table-striped'>
        <thead>
          <tr>
            <th>Name</th>
            <th>amount</th>
            <th>date</th>

          </tr>
        </thead>
        <tbody>

          {{#each guestMeals as |guestMeal|}}
            <tr>
              <td>{{guestMeal.userId.name}}</td>
              <td>{{guestMeal.amount}}</td>
              <td>{{dateFormat guestMeal.date}}</td>
              {{!-- <td>{{cash.date.substring(0,15)}}</td> --}}

            </tr>
          {{/each}}
        </tbody>

      </table>
      {{! guest meal Table }}
      <div class='row'>

        {{! cost table }}
        {{#each costs}}
          <div class='col-6'>
            <h6 class='text-center'>{{name}}</h6>
            <table class='table table-bordered table-striped'>
              <thead>
                <tr>
                  <th>Title</th>
                  <th>amount</th>
                  <th>date</th>
                </tr>
              </thead>
              <tbody>
                {{#details}}
                  <tr>
                    <td>{{title}}</td>
                    <td>{{amount}}</td>
                    <td>{{dateFormat date}}</td>
                  </tr>
                {{/details}}
              </tbody>
              <thead><tr><th>total</th><th>{{total}}</th><th></th></tr></thead>
            </table>

            {{! cost table }}
          </div>
        {{/each}}
      </div>
      {{! meal table }}
      <h6 class='text-center'>meal Table</h6>
      <table class='table table-bordered table-striped'>
        <thead>
          <tr>
            <th>Name</th>
            <th>breakfast</th>
            <th>lunch</th>
            <th>dinner</th>
            <th>total</th>
            <th>date</th>

          </tr>
        </thead>
        <tbody>

          {{#each meals as |meal|}}
            <tr>
              <td>{{meal.userId.name}}</td>
              <td>{{meal.breakfast}}</td>
              <td>{{meal.lunch}}</td>
              <td>{{meal.dinner}}</td>
              <td>{{meal.total}}</td>
              <td>{{dateFormat meal.date}}</td>
              {{!-- <td>{{cash.date.substring(0,15)}}</td> --}}

            </tr>
          {{/each}}
        </tbody>

      </table>
      {{! meal table }}
    </div>
  </body>
</html>