<html lang='bn'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC'
      crossorigin='anonymous'
    />
    <link
      rel='stylesheet'
      href='https://fonts.googleapis.com/css?family=Hind Siliguri'
    />
    <style>
      body { font-family: 'Hind Siliguri', serif; font-size: 48px; }

    </style>
  </head>
  <body class='p-4'>
    <div class='container-fluid'>
      <h2 class='text-center'>মেসের নাম:  {{messId.messName}}</h2>
      <h5 class='text-center'>Manager
        <img
          src='{{manager.avatar}}'
          width='35'
          height='35'
        />{{manager.name}}</h5>

      <h6 class='text-center'>মাসের নাম: {{ monthTitle}}</h6>
      <h6 class='text-center'>চাউল উদ্বৃত্ত: {{ riceBalance}}</h6>
      <h6 class='text-center'>মিল রেট : {{ mealRate}}</h6>
      <div class='row'>
        <div class=''>
          <table class='table table-bordered table-striped p-0'>
            <thead class="text-center">
              <tr class='p-0 m-0'>
                <th class='p-0 m-0'>নাম</th>
                <th class='p-0 m-0'>মিল</th>
                <th class='p-0 m-0'>ফি:মিল</th>
                <th class='p-0 m-0'>ফি:মি:খরচ</th>
                <th class='p-0 m-0'>অন্ন্যান্য খরচ</th>
                <th class='p-0 m-0'>মোট খরচ</th>
                <th class='p-0 m-0'>জমা</th>
                <th class='p-0 m-0'>উদ্বৃত্ত</th>
                <th class='p-0 m-0'>চাউল উদ্বৃত্ত</th>
              </tr>
            </thead>
            <tbody class='p-0 m-0'>
              {{#each userMonthData as |member|}}
                <tr>
                  <td class='p-0 m-0'><img
                      src='{{member.userId.avatar}}'
                      width='35'
                      height='35'
                    />{{member.userId.name}}</td>
                  <td class='p-0 m-0 text-center'>{{member.totalMeal}}</td>
                  <td class='p-0 m-0 text-center'>{{member.fixedMeal}}</td>
                  <td class='p-0 m-0 text-center'>{{member.mealCost}}</td>
                  <td class='p-0 m-0 text-center'>{{member.otherCost}}</td>
                  <td class='p-0 m-0 text-center'>{{member.totalCost}}</td>
                  <td class='p-0 m-0 text-center'>{{member.totalDeposit}}</td>
                  <td class='p-0 m-0 text-center'>{{member.balance}}</td>
                  <td class='p-0 m-0 text-center'>{{member.riceBalance}}</td>
                </tr>
              {{/each}}
            </tbody>
            <thead>
              <tr>
                <th class='p-0 m-0'>মোট সদস্য =
                  {{userMonthData.length}}</th>
                <th class='p-0 m-0 text-center'>{{totalMeal}}</th>
                <th class='p-0 m-0 text-center'>{{totalFixedMeal}}</th>
                <th class='p-0 m-0 text-center'>{{totalMealCost}}</th>
                <th class='p-0 m-0 text-center'>{{totalOtherCost}}</th>
                <th class='p-0 m-0 text-center'>{{totalCost}}</th>
                <th class='p-0 m-0 text-center'>{{totalDeposit}}</th>
                <th class='p-0 m-0 text-center'></th>
                <th class='p-0 m-0 text-center'>{{riceBalance}}</th>

              </tr>
            </thead>
          </table>
        </div>
      </div>
    <div class='row'> 
        <div class='py-5'>
          <table class='table table-bordered table-striped p-0'>
            <thead class="text-center">
              <tr class='p-0 m-0'><th colspan='5'>সকল বডারের
                  তথ্য</th></tr>
              <tr class='p-0 m-0' >
                <th class='p-0 m-0'>নাম</th>
                <th class='p-0 m-0'> টাকা জমা</th>
                <th class='p-0 m-0'> চাউল জমা</th>
                <th class='p-0 m-0'> অতিরিক্ত চাউল</th>
                <th class='p-0 m-0'>অতিথি মিলের টাকা</th>

              </tr>
            </thead>
            <tbody>
              {{#each monthMemberData}}
                <tr>
                  <td class='p-0 m-0'><img
                      src='{{avatar}}'
                      width='35'
                      height='35'
                    />{{name}}</td>

                  <td class='p-0 m-0 text-center'>{{cashTotal}}</td>
                  <td class='p-0 m-0 text-center'>{{riceTotal}}</td>
                  <td class='p-0 m-0 text-center'>{{extraRiceTotal}}</td>
                  <td class='p-0 m-0 text-center'>{{guestMealTotal}}</td>

                </tr>
              {{/each}}
            </tbody>
            {{!-- <thead><th class='p-0 m-0'>total</th><th class='p-0 m-0'>{{total}}</thead> --}}
          </table>

          {{! cost table }}
        </div>

      </div>

   
        <div class='row'>
          {{! cost table }}
          {{#each costs}}
            <div class='col-6 py-5'>

<table class='table table-bordered table-striped p-0'>
            <thead class="text-center">
              <tr class='p-0 m-0'><th colspan='3'>{{title}}</th></tr>
              <tr class='p-0 m-0' >
                <th class='p-0 m-0 '>বিবরণ</th>
                    <th class='p-0 m-0'>টাকা/পরিমাণ</th>
                    <th class='p-0 m-0 '>তারিখ</th>

              </tr>
            </thead>
            <tbody>
              {{#data}}
                <tr>
                  <td class='p-0 m-0 text-center'>{{title}}</td>
                  <td class='p-0 m-0 text-center'>{{amount}}</td>
                  <td class='p-0 m-0 text-center'>{{dateFormat date}}</td>
                </tr>
               {{/data}}
            </tbody>
            <thead><tr><th class='p-0 m-0'>মোট =</th><th
                      class='p-0 m-0 text-center'
                    >{{total}}</th><th class='p-0 m-0'></th></tr></thead>
           
          </table>


              
            </div>
          {{/each}}


          <div class='col-6 py-5'>

            <table class='table table-bordered table-striped p-0'>
              <thead class="text-center">
                <tr><th class='p-0 m-0' colspan='2'>চলতি মাসের হিসাব</th></tr>
                <tr class='p-0 m-0'>
                  <th class='p-0 m-0'>বিবরণ</th>
                  <th class='p-0 m-0'>টাকা/পরিমাণ</th>
                </tr>
              </thead>
              <tbody>
                {{#each meals}}
                  <tr class='p-0 m-0'>
                    <td class='p-0 m-0'>{{title}}</td>
                    <td class='p-0 m-0 text-right'>{{mark}} {{amount}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>

          </div>
          </div>
     
      </div>
      {{! meal table }}
      {{!-- <h6 class='text-center'>meal Table</h6>
    {{!  <table class='table table-bordered table-striped'>
        <thead>
          <tr>
            <th class='p-0 m-0'>Name</th>
            <th class='p-0 m-0'>breakfast</th>
            <th class='p-0 m-0'>lunch</th>
            <th class='p-0 m-0'>dinner</th>
            <th class='p-0 m-0'>total</th>
            <th class='p-0 m-0'>date</th>

          </tr>
        </thead>
        <tbody>

          {{#each meals as |meal|}}
            <tr>
              <td class='p-0 m-0'>{{meal.userId.name}}</td>
              <td class='p-0 m-0'>{{meal.breakfast}}</td>
              <td class='p-0 m-0'>{{meal.lunch}}</td>
              <td class='p-0 m-0'>{{meal.dinner}}</td>
              <td class='p-0 m-0'>{{meal.total}}</td>
              <td class='p-0 m-0'>{{dateFormat meal.date}}</td>
              {{!-- <td class='p-0 m-0'>{{cash.date.substring(0,15)}}</td> --}}

      {{!      </tr>
          {{/each}}
      {{! </tbody> }}

      {{! </table> }}
      {{! meal table }}
    </div>
  </body>
</html>